@model UpdateDiscountDto
@{
    ViewData["Title"] = "UpdateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İndirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">İndirim Bilgisi Güncelle</div>
						</div>
						<input type="hidden" asp-for="DiscountID"/>
						<div class="card-body">
							<div class="form-group">
								<label for="title">Ürün adını giriniz:</label>
								<input type="text" class="form-control" asp-for="Title" id="title">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="amount">Ürün indirim oranı giriniz:</label>
								<input type="text" class="form-control" asp-for="Amount" id="amount">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="imageurl">Ürün görsel url giriniz:</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description">Ürün açıklamasını giriniz:</label>
								<input type="text" class="form-control" asp-for="Description" id="description">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">İndirim Bilgisi Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

