@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Öne Çıkanlar İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Öne Çıkanlar Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="title1">Başlık1 giriniz:</label>
								<input type="text" class="form-control" asp-for="Title1" id="title1">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description1">Açıklama1 giriniz:</label>
								<input type="text" class="form-control" asp-for="Description1" id="description1">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="title2">Başlık2 giriniz:</label>
								<input type="text" class="form-control" asp-for="Title2" id="title2">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description2">Açıklama2 giriniz:</label>
								<input type="text" class="form-control" asp-for="Description2" id="description2">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="title3">Başlık3 giriniz:</label>
								<input type="text" class="form-control" asp-for="Title3" id="title3">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description3">Açıklama3 giriniz:</label>
								<input type="text" class="form-control" asp-for="Description3" id="description3">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Öne Çıkanlar Bilgisi Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

